@*This page uses the formatting from the layout page and displays the link to the podcast site*@

@{
    ViewData["Title"] = "My Podcasts";
    ViewData["Head"] = "My Podcasts";
}

<div>
    <h3>View my podcasts here:</h3><br />
    <a href="https://baconsale.com/">baconsale.com</a>
</div>